/* COMPONENTES GENERALES */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
    overflow-x: hidden;

    font-family: 'Consolas', monospace;

    width: 100%;
    margin: 0 auto;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background-noise.png');
    background-size: contain;
    background-repeat: repeat;
    opacity: 0.008;
    z-index: -1;
    animation: moveStatic 0.2s infinite;
}

a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 1em;
    transition: bold 0.3s ease;
}


a {
    color: #ffffff;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

a:hover {
    font-weight: 800;
    text-shadow: 0 0 8px #ffffff;
}



/* animación statica Background */
@keyframes moveStatic {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5px, 5px);
    }

    50% {
        transform: translate(5px, -5px);
    }

    75% {
        transform: translate(-5px, -5px);
    }

    100% {
        transform: translate(0, 0);
    }
}


header {
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
  background: linear-gradient(45deg, #FFA07A, #FF6347);
  color: white;
  border-radius: 12px;
  padding: 12px 22px;
  transition: background 0.5s ease, transform 0.3s ease;
}
.button:hover {
  background: linear-gradient(45deg, #FF6347, #FFA07A);
  transform: translateY(-2px);
}






/* TITULO INTERACTIVO */

.c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
    text-shadow: -20px 10px 10px rgba(0, 0, 0, .1), 0 20px 50px rgba(0, 0, 0, .1);
    font-weight: 900;
    letter-spacing: -2px;

    font-size: 2.5em;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    color: #fff;
    will-change: text-shadow, transform;
}

.c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
    font-size: 2em;
}
.c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle{
    font-size: 2em;
}



.c-buzzwords:hover {
    cursor: default !important;
}

.c-buzzwords .c-buzzwords__charWrapper {
    float: left;
    position: relative;
    opacity: 0;
    z-index: 10;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    will-change: opacity, transform;
}

.c-buzzwords .c-buzzwords__line.is-ready .c-buzzwords__charWrapper {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition: .75s cubic-bezier(.175, .885, .32, 2.275) 1.35s;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
}

.nombre {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

body,
html {
    margin: 0;
    padding: 0;
}

.container.titulo {
    display: flex;
    flex-direction: column;
    /* Organiza verticalmente los elementos */
    align-items: center;
    /* Centra horizontalmente los subtítulos */
    justify-content: flex-start;
    /* Mantén los subtítulos en su lugar natural */
}

/*! CSS Used keyframes */
@-webkit-keyframes d {
    0% {
        left: 0;
        width: 0;
        opacity: 0;
    }

    50% {
        left: 0;
        width: 0;
        opacity: 1;
        width: 100%;
    }

    55% {
        right: 0;
        left: auto;
        opacity: 1;
        width: 100%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
        animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
    }

    to {
        right: 0;
        left: auto;
        opacity: 0;
        width: 0;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    }
}

@keyframes d {
    0% {
        left: 0;
        width: 0;
        opacity: 0;
    }

    50% {
        left: 0;
        width: 0;
        opacity: 1;
        width: 100%;
    }

    55% {
        right: 0;
        left: auto;
        opacity: 1;
        width: 100%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
        animation-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
    }

    to {
        right: 0;
        left: auto;
        opacity: 0;
        width: 0;
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    }
}





/* APARTADO SOBRE MI */


.herramienta img,
.iconoLenguaje img {
    width: 7vw;
    height: 7vw;
    margin: 10px;
}

.lenguajes,
.herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.herramienta,
.iconoLenguaje {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 8px;
}

.sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}


.indiceDatos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indiceDatos .separador{
    display: none;
}

.indiceDatos a.activo {
    font-weight: bold;
    text-shadow: 0 0 8px #ffffff;
}


.separador {
    width: 30%;
    height: 3px;
    background-color: #fff;
}

.datosLenguajes,
.datosSobreMi,
.datosHerramientas {
    position: absolute;
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: block;
    box-sizing: border-box;

    text-align: center;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    /* width: 45vw; */
    width: 100%;
    height: 50vh;



}


/* BORRAR bordes de divs de datos y el propio background de .datos */
.datosSobreMi {
    display: block;
    box-sizing: border-box;

    padding: 0 3vw;
    font-size: 17px;

}

.datosLenguajes {

    display: none;
}

.datosHerramientas {

    display: none;

}











/* APARTADO PROYECTOS*/
.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.overlay {
    height: 0%;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 4vw;

    position: absolute;
    left: 0;
    bottom: 0;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: center;

    transition: height 0.5s ease;
}

.overlay a {
    margin: 2vw 0;
}

.proyecto {
    position: absolute;
    width: 40vw;
    height: 55vw;
    text-align: justify;
    border-radius: 20px;
    padding: 20px;
    transition: 0.5s;
    /* Centramos con respecto a la nueva anchura */
    transform: translateY(-50%);
    /* Ajustamos la posición en Y para centrar */

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    background-size: cover;
    font-size: 10px;
}

.proyecto:hover .overlay {
    height: 100%;
}

#next,
#prev {
    background-color: grey;
    position: absolute;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 40px;

    height: 25vw;
    width: 20%;
}

#next {
    left: unset;
    right: 40px;
}

.p1 {
    border-radius: 36px;
    background-image: url(images/proyecto1img.PNG);
}

.p2 {
    background-image: url(images/proyecto2img.PNG);
}

.p3 {
    background-image: url(images/proyecto3img.PNG);
}


.proyectosWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tituloProyectos{
    display: flex;
}


/* APARTADO FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contacto img {
    width: 50px;
    height: 50px;
    margin: 10px;
}




.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2vw 0;

    /* bordes para hacer el spacing */
    /* border: solid 1px red; */


}

/* xss */
@media (min-width:320px) {
    .container {
        max-width: 320px;
    }
}



/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    .sobreMi{
        flex-direction: row;
    }
    .indiceDatos{
        flex-direction: column;
        justify-content: space-evenly;
        width: 25vw;
    }
    .indiceDatos .separador{
        display:block;
    }
    .datos{
        width: 75vw;
    }
    .contacto{
        flex-direction: row;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    /* tamaño titulo */
    .c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
        font-size: 3.5em;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
        font-size: 2.5em;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle {
        font-size: 2.5em;
    }

    .iconoLenguaje img,
    .herramienta img {
        width: 6vw;
        height: 6vw;
    }

    .slider {
        height: 55vh;
    }

    .proyecto {
    
        height: 28vh;
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* tamaño titulo */
    .c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
        font-size: 4.3em;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
        font-size: 2.8em;
    }
    .c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle {
        font-size: 2.8em;
    }

    .button {
        margin: 0 2vw;
        padding: 10px 20px;
        font-size: 14px;
    }

    .indiceDatos {
        width: 30%;
        height: 25vh;
    }

    .slider {
        height: 65vh;
    }

    .proyecto {
        height: 35vh;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    /* tamaño titulo */
    .c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
        font-size: 5.8em;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
        font-size: 4em;
    }
    .c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle {
        font-size: 4em;
    }

    .iconoLenguaje img,
    .herramienta img {
        width: 50px;
        height: 50px;
    }

    .datos {
        width: 620px;
    }

    .indiceDatos a {
        font-size: 23px;
    }

    .slider {
        height: 70vh;
    }

    .proyecto {
        height: 50vh;
    }

    .overlay {
        padding: 0 6vw;
    }

}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    /* tamaño titulo */
    .c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
        font-size: 7em;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
        font-size: 5em;
    }
    .c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle {
        font-size: 5em;
    }

    .slider {
        height: 80vh;
    }

    .proyecto {
        width: 45%;
        height: 500px;
    }

    .button {
        margin: 0 2vw;
        padding: 10px 20px;
        font-size: 15px;
    }

}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    /* tamaño titulo */
    .c-buzzwords .c-buzzwords__charWrapper .c-buzzwords__char {
        font-size: 160px;
    }

    .c-buzzwords .c-buzzwords__charWrapper .char-subTitle {
        font-size: 100px;
    }
    .c-buzzwords .c-buzzwords__charWrapper .char-proyectTitle {
        font-size: 100px;
    }

    .slider {
        height: 65vh;
    }
}